<?xml version="1.0"?>
<configuration>
  <appSettings>
    <clear />
    <add key="CONNECTION_STRING_CVAN" value="SERVER=VINAMARK-PC;UID=sa;Password=123456;database=BHXH_CVAN_QD595" />
    <add key="CONNECTION_STRING_CSKH" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP) (HOST=10.162.20.249)(PORT=1523))) (CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=KTNB4))); User Id=CMC_CSKH;Password=CMC_CSKH;" />
    
    <!--<add key="PATH_INDEX_LUCENE" value="E:\Project\CMC SOFT\PROJECTS\CVAN_NCKT\HTKK-TVAN\GATEWAY\INDEX" />
    <add key="MAX_FIELD_LENGTH" value="10" />
    <add key="FILE_NAME_LOCK_LUCENE" value="write.lock" />
    <add key="LOG_PATH" value="E:\Project\CMC SOFT\PROJECTS\CVAN_NCKT\HTKK-TVAN\GATEWAY\LOG\WindowServices\WServiceMQDB" />-->
    <!--<add key="DATA_FILES_SIGNATURE" value="D:\SETUP_CVAN\DATA_FILES\DATA_SIGNATURE" />
    <add key="FILE_UPLOAD_EXTENSIVE" value="*.xls|*.xlsx|*.xlt"/>-->
    <add key="SOFTWARE_NAME" value="BHXH-IVAN-GATEWAY" />
    <add key="ASSEMBLY_NAME" value="QD595.BHXH.GATEWAY" />
    <add key="NAMESPACE_NAME" value="QD595.BHXH.GATEWAY" />
    <add key="SOLR_URL" value="" />
    <add key="SOLR_PAGE_SIZE" value="20" />
    <add key="PAGE_SIZE" value="20" />        
    <add key="APP_ICON" value="Icon1" />
    <!--MQ Setting-->
    <add key="MQ_NAME" value="DATA_SENDMAIL" />
    <add key="MQ_USER" value="mqadmin" />
    <add key="MQ_PASSWORD" value="mqadmin" />
    <add key="MQ_PORT" value="5672" />
    <add key="MQ_HOST" value="localhost" />
    <!--CA TOKENT Viettel-->
    <add key="CA_TOKENT_SERIAL" value="54045CAE66ED5BAE795147C6AEB6B73B" />
     <!--CA TOKENT FPT test File mem-->
    <!--<add key="CA_TOKENT_SERIAL" value="540463BC09D0A92FB52012EE0CBCC791" />-->

    <!-- FTP Setting -->
    <!--<add key="FTP_USING" value="True"/>
    <add key="FTP_SERVER_URI" value="ftp://192.168.182.128/IVAN_LOG_ERROR/"/>
    <add key="FTP_USER" value="admin"/>
    <add key="FTP_PASSWORD" value="hoilamgi"/>-->

  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
