<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CONNECTION_STRING_DATA_ORACLE" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP) (HOST=202.134.19.105)(PORT=1521))) (CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=ORCL))); User Id=CVAN;Password=CVAN;" />
    <!--<add key="CONNECTION_STRING_DATA_ORACLE" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP) (HOST=10.20.0.80)(PORT=1521))) (CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=ORACLEDBA))); User Id=CVAN;Password=CVAN;" />-->
    <add key="ORACLE_OWNER" value="CVAN"/>
    <add key="MAX_FIELD_LENGTH" value="10"/>
    <add key="FILE_NAME_LOCK_LUCENE" value="write.lock"/>
    <add key="FILE_UPLOAD_EXTENSIVE" value="*.xls|*.xlsx|*.xlt"/>
    <add key="VERSION" value="VERSION : 1.0"/>
    <add key="SOFTWARE_NAME" value="CMCLIS-VAN"/>
    <add key="ASSEMBLY_NAME" value=""/>
    <add key="NAMESPACE_NAME" value=""/>
    <add key="SOLR_URL" value=""/>
    <add key="SOLR_PAGE_SIZE" value="20"/>
    <add key="VERSION" value="VERSION : 1.0"/>
    <add key="SOFTWARE_CODE" value="CMCLIS_GATEWAY" />
    <add key="SOFTWARE_NAME" value="CỔNG TIẾP NHẬN HỒ SƠ ĐỊA CHÍNH"/>
    <add key="PAGE_SIZE" value="100"/>    
    <add key="USING_ENVIROMENT" value="app"/>
    <add key="Interval" value="10000" />
    <add key="MICRO_SERVICE_PORT" value="7749" />
    <add key="MICRO_SERVICE_NAME" value="CMCLIS_GATEWAY" />
    <add key="MICRO_SERVICE_DISPLAY_NAME" value="CỔNG TIẾP NHẬN HỒ SƠ ĐỊA CHÍNH" />
    <!--MQ Setting-->    
    <add key="MQ_NAME" value="CMCLIS_HO_SO_THUE" />
    <add key="MQ_USER" value="mqadmin" />
    <add key="MQ_PASSWORD" value="mqadmin" />
    <add key="MQ_PORT" value="5672" />
    <add key="MQ_HOST" value="202.134.19.107" />
  </appSettings>
</configuration>